In [36]:
import pandas as pd

In [37]:
info_df = pd.read_excel('/Users/jessicahsieh/Documents/Deloitte Capstone/Data/customer_info.xlsx', sheet_name='Sheet1')
econ_df = pd.read_excel('/Users/jessicahsieh/Documents/Deloitte Capstone/Data/customer_economics.xlsx')
socio_df = pd.read_excel('/Users/jessicahsieh/Documents/Deloitte Capstone/Data/Sociodemographic.xlsx')

In [38]:
customer_df = pd.merge(info_df, econ_df, on='ID', how='inner')

In [39]:
customer_df.columns = customer_df.columns.str.strip().str.lower().str.replace('.', '_').str.replace(' ', '_')

In [40]:
customer_df.duplicated().sum()

4

In [41]:
customer_df.drop_duplicates(subset='id', keep='first', inplace=True)

In [42]:
customer_df.loc[customer_df['zip_code']==30000, 'city'] = 'Murcia'

In [43]:
# if city name is A  CoruÃ±a, change it to A Coruña

customer_df.loc[customer_df['city'] == 'A  CoruÃ±a', 'city'] = 'A Coruña'
customer_df.loc[customer_df['city'] == 'A Coruna', 'city'] = 'A Coruña'

# if city name is Bilb ao, change it to Bilbao

customer_df.loc[customer_df['city'] == 'Bilb ao', 'city'] = 'Bilbao'
customer_df.loc[customer_df['city'] == 'Bilbao ', 'city'] = 'Bilbao'

# if city name is Valencia , change it to Valencia
customer_df.loc[customer_df['city'] == 'Valencia ', 'city'] = 'Valencia'
customer_df.loc[customer_df['city'] == 'Balencia', 'city'] = 'Palencia'

# ifthe city name is Barcelona , change it to Barcelona

customer_df.loc[customer_df['city'] == ' Barcelona', 'city'] = 'Barcelona'
customer_df.loc[customer_df['city'] == ' Madrid', 'city'] = 'Madrid'
# if zip code = 41000, then city = Sevilla

customer_df.loc[customer_df['zip_code'] == 41000, 'city'] = 'Sevilla'

In [44]:
customer_df['city'] = customer_df['city'].str.lower()

In [45]:
print(customer_df['city'].unique())
print(customer_df['city'].nunique())

['burgos' 'a coruña' 'bilbao' 'alicante' 'madrid' 'caceres' 'sevilla'
 'barcelona' 'valencia' 'zaragoza' 'guadalajara' 'valladolid' 'pamplona'
 'murcia' 'palencia']
15

In [46]:
socio_df.columns = socio_df.columns.str.strip().str.lower().str.replace('.', '_').str.replace(' ', '_')

In [47]:
# change Palencia to valencia

socio_df.loc[socio_df['city'] == 'valencia', 'city'] = 'Valencia'
socio_df.loc[socio_df['city'] == ' Madrid ', 'city'] = 'Madrid'
socio_df.loc[socio_df['city'] == ' Burgos', 'city'] = 'Burgos'
socio_df.loc[socio_df['city'] == 'alicante', 'city'] = 'Alicante'
socio_df.loc[socio_df['city'] == 'murcia', 'city'] = 'Murcia'

In [48]:
print(socio_df['city'].unique())
print(socio_df['city'].nunique())

['Pamplona' 'A Coruña' 'Valladolid' 'Alicante' 'Bilbao' 'Zaragoza'
 'Sevilla' 'Barcelona' 'Madrid' 'Valencia' 'Palencia' 'Guadalajara'
 'Caceres' 'Burgos' 'Murcia']
15

In [49]:
# set socio_df city to lower case

socio_df['city'] = socio_df['city'].str.lower()

In [50]:
merged_df = pd.merge(customer_df, socio_df, on='city', how='left')

In [51]:
merged_df.isnull().sum()

distance                          0
city                              0
store_size                        0
opening_hours                     0
phone_number                      0
free_wifi                         0
parking                           0
description                       0
zip_code                          0
latitude                          0
longitude                         0
date_opening                      0
id                                1
sales_representative_latitude     0
sales_representative_longitude    0
sales_representative_id           0
rating                            2
number_of_reviews                 0
sales_amount                      0
number_of_employees               2
province                          0
population                        0
young_population                  0
gdb_per_capita                    0
unemployment_rate                 0
dtype: int64

---

In [52]:
store_count = merged_df.groupby(['sales_representative_id']).size().reset_index(name='og_store_count')

In [53]:
for index, row in store_count.iterrows():
    sales_rep = row['sales_representative_id']
    og_store_count = row['og_store_count']
    if og_store_count > 300:
        print(sales_rep, og_store_count)

0 340
2 326
5 315
6 340
7 321
10 339
14 340
16 340
20 340
21 303
22 309
23 340
26 340
29 340
30 340
31 340
32 339

In [54]:
city_count = merged_df.groupby('sales_representative_id')['city'].apply(lambda x: ', '.join(x.unique())).reset_index(name='city')
store_count = pd.merge(store_count, city_count, on='sales_representative_id', how='left')

In [55]:
store_count

,sales_representative_id,og_store_count,city
0,0,340,a coruña
1,1,257,alicante
2,2,326,madrid
3,3,283,barcelona
4,4,273,sevilla
5,5,315,bilbao
6,6,340,sevilla
7,7,321,"pamplona, zaragoza"
8,8,253,caceres
9,9,230,valencia
10,10,339,bilbao
11,11,264,madrid
12,12,230,"madrid, guadalajara"
13,13,284,barcelona
14,14,340,madrid
15,15,230,"alicante, murcia"
16,16,340,alicante
17,17,230,valencia
18,18,286,sevilla
19,19,230,"valencia, alicante"
20,20,340,sevilla
21,21,303,barcelona
22,22,309,a coruña
23,23,340,madrid
24,24,230,barcelona
25,25,230,"burgos, palencia, pamplona, valladolid"
26,26,340,barcelona
27,27,229,valencia
28,28,263,valladolid
29,29,340,madrid
30,30,340,zaragoza
31,31,340,madrid
32,32,339,barcelona

In [56]:
sales_25 = customer_df[customer_df['sales_representative_id'] == 19]

sales_25[sales_25['city'] == 'valencia'].shape

(204, 20)

In [57]:
# save store_count to csv

store_count.to_csv('/Users/jessicahsieh/Documents/Deloitte Capstone/store_count.csv', index=False)